.container {
  display: flex;
  flex-direction: row;
}

.colorButton {
  width: 30px;
  height: 20px;
  margin: 5px;
}

.colorButton:focus {
  border: 3px solid red;
}

input[type='color'] {
  background: linear-gradient(
    to bottom right,
    red,
    orange,
    yellow,
    green,
    blue,
    violet
  );

  display: block;
  width: 40px;
  height: 30px;
  border: none;
}
