@tailwind base;
@tailwind components;
@tailwind utilities;

/* .container {
  @apply flex
    flex-col
    items-end
    pt-10
    w-2;
}

.colorButton {
  @apply w-10
    h-8
    m-2;
} */

.colorButton:focus {
  border-bottom: 3px solid red;
}

input[type='color'] {
  background: linear-gradient(
    to bottom right,
    red,
    orange,
    yellow,
    green,
    blue,
    violet
  );

  display: block;
  width: 42px;
  height: 32px;
  border: none;
}
