@tailwind base;
@tailwind components;
@tailwind utilities;
@font-face {
    font-family: damion;
    font-weight: 400;
    src: url(../../../fonts/Damion-Regular.ttf) format('tff');
}
@font-face {
    font-family: playfair;
    font-weight: 500;
    src: url(../../../fonts/PlayfairDisplay-VariableFont_wght.ttf) format('tff');
}
@font-face {
    font-family: twoPeaksCurly;
    font-weight: 500;
    src: url(../../../fonts/TwoPeaksCurly.ttf) format('tff');
}

.main {
    @apply flex 
    flex-col
    justify-center
    items-center
    mx-4
    
    /* lg:max-w-screen-lg */
    /* lg:flex-row; */;
}

.aboutSection {
    @apply flex 
    flex-col
    justify-center
    items-center
    m-6

    lg:flex-row;
}

.header {
    @apply text-darksage
    font-bold
    font-damion;
}

.card {
    @apply flex 
    flex-col 
    justify-center 
    items-center
    h-96
    w-96
    m-4
    p-4
    bg-offwhite
    border-8
    border-dashed
    border-orangebrown
    rounded-xl;
}

.name {
    @apply text-darksage
    font-bold
    font-damion;
}

.bioPic {
    @apply h-24
    w-24
    rounded-md
    m-2;
}

.bio {
    @apply text-sm
    font-playfair;
}

.links {
    @apply m-2;
}
